<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>TODOS LOS PRODUCTOS</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <%- include("../partials/header") %>

    <main>
        <section class="galeria_home">
            <article class="art_galeria_home">
                <img class="imagen_galeria_home" src="images/sandalias1.jpg" alt="">
                <a href='/product' class="boton_galeria_home">FRESCURA</a>
            </article>
    
            <article class="art_galeria_home">
                <img class="imagen_galeria_home" src="images/chatitas1.jpg" alt="">
                <a href=# class="boton_galeria_home">CONFORT</a>
            </article>
    
            <article class="art_galeria_home">
                <img class="imagen_galeria_home" src="images/botas1.jpg" alt="">
                <a href=# class="boton_galeria_home">CALIDEZ</a>
            </article>
            
        </section>

    </main>


    <%- include("../partials/footer") %>
    
</body>
</html>

