
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>Agregar Producto</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>



<body>
    <%- include("../partials/header") %>



    <h2 class="cuatro">Error! Esta página no existe</h2>


    <%- include('../partials/whatsappIcon') %>
   <%- include('../partials/footer') %>

</body>

</html>

