<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet"/>
</head>

<body>
    <header></header>

    <main>
        <section class="cabezal-cart">
            <h1 class="titulo-cart">Tu carrito</h1>
                <div class="barra-cart">

                    <a class="boton-continuar-cart" href="/">continuar shopping</a>
                    
                    <div class="secciones-u-cart">
                    <p class="secciones-cart">Carrito  <i class="fa-solid fa-bag-shopping"></i></p>
                    <p class="secciones-cart">Favoritos  <i class="fa-regular fa-heart"></i></p>
                    </div>

                    <div >
                        <a class="boton-comprar-cart" href="/checkout">comprar</a>
                    </div>
                </div>
        </section>

        <section class="carrito-cart">
            <div class="titulares-cart">
                <div class="titulo-producto-cart">Productos</div>
                <div class="info-precio-cart">Precio</div>
                <div class="info-cantidad-cart">Cantidad</div>
                <div class="info-subtotal-cart">Subtotal</div>
            </div>

            <div class="info-cart">
                <div class="producto-cart"><div class="info-numerador-cart">nº</div>
                <img class="img-cart" src="#" alt="imagen producto">
                <div class="info-producto-cart">
                    <div id="nombre-producto-cart">NOMBRE DEL PRODUCTO</div>
                    <div id="color-cart"><i class="fa-solid fa-circle"></i>color</div>
                    <div>Talle nº</div>
                </div></div>
                <div class="info-precio-cart">$Precio</div>
                <div class="info-cantidad-cart">
                    <select id="selector-cart" name="cantidad-art" id="cantidad-art">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                <div><button id="info-botoncancelar-cart" type="reset">Cancelar</button></div>
            </div>
                <div class="info-subtotal-cart">$Subtotal</div>
        </section>

        <section class="abajo-cart">
            <div class="infos-general-cart">
                <div class="info-general-cart">
                    <h4>pago seguro</h4>
                    <p>Certificamos el cuidado de tus datos, y así evitamos de este modo que seamos víctimas de fraudes.</p>
                </div>

                <div class="info-general-cart">
                    <h4>envíos</h4>
                    <p>Las entregas se realizan mediante el correo ANDREANI de lunes a viernes, en un rango horario de 9 a 18hs.</p>
                </div>
            </div>

            <div class="tabla-total-cart">
                <div class="datos-abajo-cart">
                    <div class="total-abajo-cart">
                        <p>Subtotal</p>
                        <p>$Subtotal</p>
                    </div>

                    <div class="total-abajo-cart">
                        <p>Envío (tipo de envío)</p>
                        <p>$precio</p>
                    </div>

                    <div class="total-abajo-cart">
                        <p class="total-cart">Total</p>
                        <p class="total-cart">$total</p>
                    </div>
                </div>
                    
                <a href="/checkout">comprar</a>
                
            </div>

        </section>


    </main>

    <footer></footer>
</body>
</html>