<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100;1,300&family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet" />
    <link rel='stylesheet' href="/css/styles.css">
    <title>Bienvenida a Suola</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet"/>
</head>

<body>

  
    
    <header>
        <p class="anuncio">anuncio</p>

        <div class="principal-header">
            <div class="arriba-header">

                <div class="menu-hamburguesa">
                    <i class="fas fa-bars"></i>
                </div>

                <div class="espacio-logo-header">
                    <a href="/"><img class="logo" src="images/logo.png" alt="logo suola"></a>
                </div>    
                
                    <nav class="nav-header">
                        <ul class="der-nav-header">
                            <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                            <li><a href="/login"><i class="fa-solid fa-user"></i></a></li>
                            <li><a href="/favorits"><i class="fa-solid fa-heart"></i></a></li>
                            <li><a href="/cart"><i class="fa-solid fa-bag-shopping"></i></a></li>
                        </ul>
                    </nav>
                
            </div>

            <nav>
                <ul class="abajo-nav-header">
                    <li><a href="#">zapatos</a></li>
                    <li><a href="#">mocasines</a></li>
                    <li><a href="#">botas</a></li>
                    <li><a href="#">sandalias</a></li>
                    <li><a href="#">zapatillas</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main_home">
        <section class="seccion_principial">
            <img class="imagen_ppl_home" src="images/banner_home.jpg" alt="">
            <a href=# class="boton_ppl_home">VER TEMPORADA</a>
        </section>
    
        <section class="galeria_home">
            <article class="art_galeria_home">
                <img class="imagen_galeria_home" src="images/sandalias1.jpg" alt="">
                <a href='/producto' class="boton_galeria_home">FRESCURA</a>
            </article>
    
            <article class="art_galeria_home">
                <img class="imagen_galeria_home" src="images/chatitas1.jpg" alt="">
                <a href=# class="boton_galeria_home">CONFORT</a>
            </article>
    
            <article class="art_galeria_home">
                <img class="imagen_galeria_home" src="images/botas1.jpg" alt="">
                <a href=# class="boton_galeria_home">CALIDEZ</a>
            </article>
        </section>
    </main>
    <footer>    
        <div class="iconos-footer">
        <a href="https://www.instagram.com/" > <i class="fa-brands fa-instagram"></i><a>
         <a href="https://www.facebook.com/" >  <i class="fa-brands fa-facebook"></i></a>
        <a href= "https://www.facebook.com/"> <i class="fa-brands fa-twitter"></i></a></div>
        <div class="suscribite-footer">
           <label> Suscribite a nuestro Newsletter</label><br>
           <input type="email" name="Email" placeholder="Por favor ingrese su e-mail"
        class="control-footer">
        <div class="submit-reg-suscribite">
            <button type="submit" class="boton-suscribite" color=white background-color=black> SUSCRIBITE </button>
            <form action="/form" method="GET">
            </form></div>
        </div>

</div><br>
<i class="fa-brands fa-whatsapp"></i>
        <div class="footer-columna1">
            <ul class="izquierda-footer">
                <li> <a href="#">Cómo comprar</a></li>
                <li><a href="#"> Cambios y/o devoluciones</a></li>
                <li><a href="#"> Términos y condiciones</a></li>
                <li> <a href="#"> Método de envío</a></li>
            </ul>

            <ul class="derecha-footer">
                <li> <a href="/images/talles.jpg"> Guía de talles</a></li>
                <li><a href="#">Guía de cuidados</li>
                <li><a href="#"> Contacto</a></li>

            </ul>
        </div>
   


    </footer>
</body>
</html>