<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Suola</title>
    <link href='/css/styles.css' rel ='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet" />   
    <link rel="icon" href="shoes.png">
</head>
<body>
    <main class="main_home">
        <!-- <video class="video_home" tabindex="0" preload="auto" loop="" playsinline="" muted="" data-desktop-src="https://media.jimmychoo.com/video/upload/q_auto:good,f_auto/v1657618178/WEBSITE/homepage/wk15/jp-d-hp-hero-a_vmq7o5.mp4" data-tablet-src="" data-mobile-src="https://media.jimmychoo.com/video/upload/q_auto:good,f_auto/v1657618177/WEBSITE/homepage/wk15/jp-m-hp-hero-a_e32dbg.mp4" data-last-frame-thumbnail="true" data-ispdp="false" data-cta="" id="html5-video-1" src="https://media.jimmychoo.com/video/upload/q_auto:good,f_auto/v1657618178/WEBSITE/homepage/wk15/jp-d-hp-hero-a_vmq7o5.mp4">
        <div class="html5-video-error">Video format is not supported</div> 
        </video>--->
        <section class="seccion_principial">
            <img class="imagen_ppl_home" src="images/banner_home.jpg" alt="">
            <a href=# class="boton_ppl_home">VER TEMPORADA</a>
        </section>

        <section class="galeria_home">
            <article class="art_galeria_home">
                <img class="imagen_galeria_home" src="images/sandalias1.jpg" alt="">
                <a href=# class="boton_galeria_home">FRESCURA</a>
            </article>

            <article class="art_galeria_home">
                <img class="imagen_galeria_home" src="images/chatitas1.jpg" alt="">
                <a href=# class="boton_galeria_home">CONFORT</a>
            </article>

            <article class="art_galeria_home">
                <img class="imagen_galeria_home" src="images/botas1.jpg" alt="">
                <a href=# class="boton_galeria_home">CALIDEZ</a>
            </article>
        </section>
    </main>

</body>
</html>