<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Suola</title>
    <link rel="icon" href="shoes.png">
</head>
<body>
    <video class="html5-video js-html5-video full-width-video  " tabindex="0" preload="auto" loop="" playsinline="" muted="" data-desktop-src="https://media.jimmychoo.com/video/upload/q_auto:good,f_auto/v1657618178/WEBSITE/homepage/wk15/jp-d-hp-hero-a_vmq7o5.mp4" data-tablet-src="" data-mobile-src="https://media.jimmychoo.com/video/upload/q_auto:good,f_auto/v1657618177/WEBSITE/homepage/wk15/jp-m-hp-hero-a_e32dbg.mp4" data-last-frame-thumbnail="true" data-ispdp="false" data-cta="" id="html5-video-1" src="https://media.jimmychoo.com/video/upload/q_auto:good,f_auto/v1657618178/WEBSITE/homepage/wk15/jp-d-hp-hero-a_vmq7o5.mp4">
        <div class="html5-video-error">Video format is not supported</div>
        </video>
</body>
</html>