<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;40
    0&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet" />
    <title>Registrarse</title>
    <link rel='stylesheet' href="/css/styles.css">
    <title>Login</title>
</head>
<body>

<div class="login-body">
<h2 class="login"><strong>Login</strong></h2>

<label>
    <div class="email-login"> <strong>E-mail </strong>
</label><br>

<input type="email" name="Email" placeholder="Por favor ingrese su e-mail"
    class="control">

</div><br>


<label>
<div class="password-login"><strong>Contraseña</strong>
</label><br>
<input type="password" placeholder="Por favor ingrese su Contraseña" name="clave"
class="control">
</div><br>

<div class="submit-log">
    <button type="submit" class="boton" color=white background-color=black> Ingresar </button>
    <form action="/form" method="GET">
    </form>
</div>

</div>
    
</body>
</html>