<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100;1,300&family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet" />
    <link rel='stylesheet' href="/css/styles.css">
    <link rel='stylesheet' href="/css/styles-login.css">
    <title>Login</title>
</head>
<body>

    <a href="/" class="link-ahome">HOME |</a>
    <a href class="link-alogin"> LOGIN</a>
<h1 class="login"><strong>Login</strong></h1>


<div class="login-todo"> 
    <p class="entrar-login"><strong>YA ESTOY REGISTRADO</strong></p><br>
    
    
    
        
    <div class="registrado-login">
    <label> <div class="login-cuerpo">
        <div class="email-login"> <strong>E-mail </strong>
    </label><br> 
    
    <input type="email" name="Email" placeholder="Por favor ingrese su e-mail" required
        class="control-login">
    
    </div><br>
    
    
    <label>
    <div class="password-login"><strong>Contraseña</strong>
    </label><br>
    <input type="password" placeholder="Por favor ingrese su Contraseña" required name="clave"
    class="control-login">
    </div><br>
    <a href class="olvido-contrasena">¿Olvidaste la contraseña?<br> </a> </p> </div>
    
   
        <button type="submit" class="boton-login" color=white background-color=black> Ingresar </button>
        <form action="/form" method="GET">
        </form> 
   </div>
    
<div class="cliente-nuevo">
<p class="reg-enlogin"> <strong>CLIENTE NUEVO </strong><br></p>
  <div class="texto-crearCuenta">  Si todavía no tenés una cuenta de usuario con nosotros, <br>
    te recomendamos crearla. Esto facilitará el proceso<br> de compra en nuestra web.<br> </div>
    
    <form action="/register" method="'GET">
        <button type="submit" class="boton-registrarse" color=white background-color=black> Registrarse </button>
        
        </form>

    </div> </div>
    <footer> 
            
            
        <div class="iconos-footer">
        <a href="https://www.instagram.com/" > <i class="fa-brands fa-instagram"></i><a>
         <a href="https://www.facebook.com/" >  <i class="fa-brands fa-facebook"></i></a>
        <a href= "https://www.facebook.com/"> <i class="fa-brands fa-twitter"></i></a></div>
        <div class="suscribite-footer">
           <label> Suscribite a nuestro Newsletter</label><br>
           <input type="email" name="Email" placeholder="Por favor ingrese su e-mail"
        class="control-footer">
        <div class="submit-reg-suscribite">
            <button type="submit" class="boton-suscribite" color=white background-color=black> Suscribite </button>
            <form action="/form" method="GET">
            </form></div>
        </div>

</div><br>
<i class="fa-brands fa-whatsapp"></i>
        <div class="footer-columna1">
            <ul class="izquierda-footer">
                <li> <a href="#">Cómo comprar</a></li>
                <li><a href="#"> Cambios y/o devoluciones</a></li>
                <li><a href="#"> Términos y condiciones</a></li>
                <li> <a href="#"> Método de envío</a></li>
            </ul>

            <ul class="derecha-footer">
                <li> <a href="/images/talles.jpg"> Guía de talles</a></li>
                <li><a href="#">Guía de cuidados</li>
                <li><a href="#"> Contacto</a></li>

            </ul>
        </div>
   


    </footer>
    
</body>
</html>