* {
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    padding-bottom: 60px;
}

input:focus, textarea {
    outline: none !important;
}

.links-login {
    margin-left: 30px;
    color: black;
    text-transform: uppercase;
}

.link-login, .link-register {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.titulo-login {
    text-align: left;
    font-size: 30px;
    margin: 30px;
}

.login-form-entero {
    display: flex;
    flex-direction: column;
    justify-content:  space-around;
    align-items: center;
}

.login-formulario {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cliente-nuevo {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.titulo-sec-login {
    font-size: 4vw;
    text-transform: uppercase;
    text-align: center;
}

.seccion-login {
    width: 100%;
    text-align: start;
    margin: 20px;
}

.titulares-login {
    font-size: 15px;
}

.control-login {
    width: 100%;
    border: none;
    background-color: #f3f3f3;
    padding: 15px;
}

.recuperar-login {
    color: black;
    position: absolute;
    right: 4%;
    font-size: 10px;
}

.boton-login {
    color: white;
    background-color: black;
    width: 100%;
    padding: 15px;
    text-transform: uppercase;
    margin-top: 30px;
    border: none;
}

.texto-crearCuenta {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3vw;
}

.boton-register {
    color: white;
    background-color: black;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    width:100%;
    text-align: center;
}

.errors{
    color: red;
}

@media (min-width: 769px) {
    .login-form-entero {
        display: flex;
        flex-direction: row;
        justify-content:  space-around;
        align-items: stretch;
    }

    .login-formulario {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .titulo-sec-login {
        font-size: 25px;
    }
    
    .cliente-nuevo {
        width: 40%;
        justify-content: space-between;
        margin-top: 0px;
    }

    .texto-crearCuenta {
        font-size: 1.1vw;
    }

    .boton-login:hover {
        cursor: pointer;
    }
}


