
* {
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*header*/

header {
    width: 100%;
    margin-bottom: 60px;
}

.principal-header {
    margin: 0px 10px;
}

.anuncio {
    background-color: black;
    color: white;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 2px;
}

.arriba-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px;
}

.menu-hamburguesa {
    color: black;
    width: 30%;
    font-size: 3vw;
    padding: 20px;
}

.logo {
    width: 80%;
}

.espacio-logo-header {
    width: 40%;
    display: flex;
    justify-content: center;

}

.nav-header {
    width: 30%;
    display: flex;
    justify-content: flex-end;

}

.der-nav-header {
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0px;
    display: flex;
}

.der-nav-header li {
    margin: 10px;
}

.der-nav-header i{
    text-decoration: none;
    color: black;
    font-size: 2vw;
    margin: 10px;
}

.abajo-nav-header {
    list-style: none;
    margin: 5px 20%;
    display: none;
}

.abajo-nav-header a {
    text-decoration: none;
    color: black;
    font-size: 1vw;
    text-transform: uppercase;
}


/*main*/
.main_home{
    width:100vw;
    background-color: #FFFFF9;
    padding-bottom: 60px;
}

.imagen_ppl_home{
    width:100%
}

.galeria_home{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;  
    width:100%; 
}

.art_galeria_home{
    padding: 60px 60px 0px 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.imagen_galeria_home{
    width:100%;
    margin-bottom: 60px;
}

.boton_galeria_home{
    background-color: #FFEEEE;
    border:none;
    color: #6B6E7A;
    text-decoration: none;
    font-family:  'Poppins', sans-serif;
    padding: 10px 15px;
    width: 50%;
    align-self: center;
    text-align: center;

}

.boton_ppl_home{
    background-color: #FFEEEE;
    border:none;
    color: #6B6E7A;
    text-decoration: none;
    font-family:  'Poppins', sans-serif;
    padding: 1rem 15px;
    width: 40%;
    align-self: center;
    text-align: center;
    position:absolute;
    bottom:60px;
    left: 30%;
}

.seccion_principial{
    position:relative;
}


@media (min-width: 1200px) {
    /*header media 1200*/

    .arriba-header {
        margin-bottom: 35px;
    }

    .espacio-logo-header {
        text-align: center;
        width: 100%;
        position: relative;
    }

    .menu-hamburguesa {
        display: none;
    }

    .logo {
        width: 250px;
    }

    .abajo-nav-header {
    display: flex;
    justify-content: space-around;
    }

    .abajo-nav-header a:hover {
        font-weight: bold;
    }

    .der-nav-header i{
        font-size: 20px;
    }

    .der-nav-header i:hover {
        font-size: 25px;
        transition-duration: 0.2s;
    }

    .nav-header {
        width: 95%;
        position:absolute;
        justify-content: flex-end;
        float: right;
    }

}






