
* {
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}

body{
        font-family: 'Poppins', sans-serif;
}

/*header*/

header {
    width: 100%;
    margin-bottom: 20px;
}

.principal-header {
    margin: 0px 10px;
}

.anuncio {
    background-color: black;
    color: white;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 2px;
}

.arriba-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px;
}

.menu-hamburguesa {
    color: black;
    width: 30%;
    font-size: 3vw;
    padding: 20px;
}

.logo {
    width: 80%;
}

.espacio-logo-header {
    width: 40%;
    display: flex;
    justify-content: center;

}

.nav-header {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    max-width: 30%;
}

.der-nav-header {
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0px;
    display: flex;
}

.der-nav-header li {
    margin: 3%;
}

.der-nav-header i{
    text-decoration: none;
    color: black;
    font-size: 2vw;
    margin: 10px;
}

.login {
    display: none;
}

.favorits
{
    display: none;
}

.abajo-nav-header {
    list-style: none;
    margin: 5px 20%;
    display: none;
}

.abajo-nav-header a {
    text-decoration: none;
    color: black;
    font-size: 1vw;
    text-transform: uppercase;
}

@media (min-width: 769px) {
    .favorits {
        display: block;
    }

    .login {
        display: block;
    }
}

/*main*/
.main_home{
    width:100vw;
    background-color: #FFFFF9;
    padding-bottom: 60px;
}

.imagen_ppl_home{
    width:100%
}

.galeria_home{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;  
    width:100%; 
}

.art_galeria_home{
    padding: 60px 60px 0px 60px;
    display: flex;
    flex-direction: column;
}

.imagen_galeria_home{
    width:100%;
    margin-bottom: 60px;
}

.boton_galeria_home{
    background-color: #FFEEEE;
    border:none;
    color: #6B6E7A;
    text-decoration: none;
    font-family:  'Poppins', sans-serif;
    padding: 10px 15px;
    width: 50%;
    align-self: center;
    text-align: center;

}

.boton_ppl_home{
    background-color: #FFEEEE;
    border:none;
    color: #6B6E7A;
    text-decoration: none;
    font-family:  'Poppins', sans-serif;
    padding: 1rem 15px;
    width: 40%;
    align-self: center;
    text-align: center;
    position:absolute;
    bottom:60px;
    left: 30%;
}

.seccion_principial{
    position:relative;
}

/*footer*/

footer{
    background-color: #f3f3f3;
    padding-top: 20px;
}

.footer-columna1 ul {
    list-style: none;
    padding: 0;
    
    
  }
  
  .footer-columna1 a {
    text-decoration: #222222;
    padding: 5px 0;
    font-size: 13px;
    color: black
   
  }

  .iconos-footer{
      text-align: center;
      justify-content: center;
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 30px;
      margin-top: 10vw
  }
  
  .fa-whatsapp{
      font-size: 80px;
      color: greenyellow;
      margin-left: 80vw;
     
  }

  
  

    .footer-columna1{
        
        text-align: center;
        width: 100%;
        display: block;
        padding: 10px 0 10px;
        margin-left: 5vw;
        margin-left: 250px
    }

  .derecha-footer{
     
      margin-left: 10vw;
      margin-top: 50px;
      margin-right: 20vw;
      word-wrap: break-word;
      letter-spacing: .3px;
    font-size: 10px;
    
    font-family: 'Poppins', sans-serif;
    color: black
  
    
  }

  .izquierda-footer{
     
    margin-left: 10vw;
    margin-top: 50px;
    margin-right: 20vw;
    word-wrap: break-word;
    letter-spacing: .3px;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    color: black
      
  }

   .email-footer{
   
    font-size: 14px
   }

   .control-footer{
    border-radius: 5px;
    margin-left: 0;
    width: 400px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #f3f3f3;
    color: #212121;
    padding: 10px 14px;
    line-height: normal;
    letter-spacing: inherit;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    
   
   }


  .suscribite-footer{
      text-align: center;
      font-family: 'Poppins', sans-serif;
  }

  .boton-suscribite{
    border-radius: 5px;
    margin-left: 0;
    width: 400px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #f3f3f3;
    color: white;
    border: 1px solid #f3f3f3;
    padding: 10px 14px;
    line-height: normal;
    letter-spacing: inherit;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color:black;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase
  }

  .boton-suscribite:hover{
    font-weight: bold;
  }

  .submit-reg-suscribite{
      margin-left: 0
  }


@media (min-width: 769px){
    .galeria_home{
        flex-direction: row;
        justify-content: space-evenly;
        margin: 5% 0%;
        
    }

    .art_galeria_home{
        width: 25%;
        padding:0px;
    }
}

@media (min-width: 1200px) {
    /*header media 1200*/

    .arriba-header {
        margin-bottom: 35px;
    }

    .espacio-logo-header {
        text-align: center;
        width: 100%;
        position: relative;
    }

    .menu-hamburguesa {
        display: none;
    }

    .logo {
        width: 250px;
    }

    .nav-header {
        max-width: 100%;
    }

    .der-nav-header li {
        margin: 10px;
    }

    .abajo-nav-header {
    display: flex;
    justify-content: space-around;
    }

    .abajo-nav-header a:hover {
        font-weight: bold;
    }

    .der-nav-header i{
        font-size: 20px;
    }

    .der-nav-header i:hover {
        font-size: 25px;
        transition-duration: 0.2s;
    }

    .nav-header {
        width: 95%;
        position:absolute;
        justify-content: flex-end;
        float: right;
    }

    /*main*/
    .boton_galeria_home, .boton_ppl_home{
        transition-duration: 0.2s;
    }

    .boton_galeria_home:hover, .boton_ppl_home:hover{
        font-weight: bold;
    }

    /*footer*/
    
    .fa-whatsapp{
        font-size: 80px;
        color: greenyellow;
        margin-left: 80vw;
       
    }
    .iconos-footer{
        text-align: center;
        justify-content: center;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 30px;
        margin-left: 100px
    }

    .suscribite-footer{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        margin-left: 80px;
       
    }


 
    .footer-columna1 a {
        text-decoration: #222222;
        padding: 5px 0;
        font-size: 13px;
        color: black
       
      }
    .derecha-footer{
        
        margin-right: 40vw;
        margin-top: 5vw;
        margin-left: 0;
        
    }
    
    .izquierda-footer{
      
        margin-left: 250px;
        margin-top: 5vw;
        
    }
    .footer-columna1{
            
        text-align: center;
        width: 100%;
        display:flex;
        padding: 30px 0 10px
    }
    
    
    .control-footer{
        border-radius: 5px;
        margin-left: 0;
        width: 400px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid #f3f3f3;
        color: #212121;
        border: 1px solid #f3f3f3;
        padding: 10px 14px;
        line-height: normal;
        letter-spacing: inherit;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #f3f3f3;
        font-family: 'Poppins', sans-serif;
        
       
       }
    
       .texto-crearCuenta{
        margin-top: 20px;
        text-align:center;
        margin-right: 0vw
    }
}
      






