

.usuario, .foto, .email{
    text-align: center;
}

.foto{
    margin-left: 45%;

}

.email{
    margin-bottom: 40px;

}

.home{
    color:  #BB1D4C;
    text-decoration: none;
    margin-left: 40%;
    font-size: 20px;
    
}