
* {
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}

input:focus, textarea {
    outline: none !important;
}

body{
    font-family: 'Poppins', sans-serif;
}



/*header*/

header {
    width: 100%;
    margin-bottom: 20px;
}

.principal-header {
    margin: 0px 10px;
}

.anuncio {
    background-color: black;
    color: white;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 2px;
}

.arriba-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px;
}

.menu-hamburguesa {
    color: black;
    width: 30%;
    font-size: 3vw;
    padding: 20px;
}

.logo {
    width: 80%;
}

.espacio-logo-header {
    width: 40%;
    display: flex;
    justify-content: center;

}

.nav-header {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    max-width: 30%;
}

.der-nav-header {
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0px;
    display: flex;
}

.der-nav-header li {
    margin: 3%;
}

.der-nav-header i{
    text-decoration: none;
    color: black;
    font-size: 2vw;
    margin: 10px;
}

.login {
    display: none;
}

.favorits {
    display: none;
}

.abajo-nav-header {
    list-style: none;
    margin: 5px 20%;
    display: none;
}

.abajo-nav-header a {
    text-decoration: none;
    color: black;
    font-size: 1vw;
    text-transform: uppercase;
}



/*main*/
.main_home{
    background-color: #FFFFF9;
}

.imagen_ppl_home{
    width:100%
}

.galeria_home{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;  
    width:100%; 
}

.art_galeria_home{
    padding: 60px 60px 0px 60px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px
}

.imagen_galeria_home{
    width:100%;
    margin-bottom: 60px;
}

.boton_galeria_home{
    background-color: #FFEEEE;
    border:none;
    color: #6B6E7A;
    text-decoration: none;
    font-family:  'Poppins', sans-serif;
    padding: 10px 15px;
    width: 50%;
    align-self: center;
    text-align: center;

}

.boton_ppl_home{
    background-color: #FFEEEE;
    border:none;
    color: #6B6E7A;
    text-decoration: none;
    font-family:  'Poppins', sans-serif;
    padding: 1rem 15px;
    width: 40%;
    align-self: center;
    text-align: center;
    position:absolute;
    bottom:60px;
    left: 30%;
}

.seccion_principial{
    position:relative;
}

.intereses_home{
    background-color: #FFEEEE;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;  
    width:100%; 
    margin-top: 60px;
    align-items: center;
    padding-bottom: 30px;
}


.titulo_intereses_home{
    font-size: 20px;
    padding: 30px;
    align-self: flex-start;

}

.galeria_intereses_home{
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.art_intereses_home{
    display: flex;
    position: relative;
    padding: 40px 80px 0px;

}

.imagen_intereses_home{
    width:100%;
    margin-bottom: 60px;
}

.boton_intereses_home{
    background-color: #6B6E7A;
    border:none;
    color: #FFFFF9;
    text-decoration: none;
    font-family:  'Poppins', sans-serif;
    padding: 10px 15px;
    width: 30%;
    align-self: center;
    text-align: center;
    position: absolute;
    bottom: 30%;
    left: 35%;
}

.fa-whatsapp{
    font-size: 50px;
    color: white;
    position: fixed;
    right: 1%;
    top: 80%;
    margin: 20px;
    background:
    linear-gradient(#25d366,#25d366) 14% 84%/16% 16% no-repeat,
    radial-gradient(#25d366 60%,transparent 0);
}


/*footer*/

footer{
    background-color: #f3f3f3;
    padding-top: 20px;
}

.arriba-footer {
    display: flex;
    flex-direction: column;
}

.iconos-footer{
    display: flex;
    justify-content: center;
}

.iconos-footer i {
    color: #BB1D4C;
    padding: 10px;
    font-size: 30px;
}

.suscribite-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-columna1 ul {
    list-style: none;
}
  
.footer-columna1 a {
    text-decoration: none;
    font-size: 13px;
    color: black
}

.footer-columna1{
    text-align: center;
    width: 100%;
    display: block;
    color: black;
    letter-spacing: .3px;
    font-size: 10px;
}

.form-email-footer {
    width: 50%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #212121;
    padding: 10px 14px;
    border: none;
    background-color: white;
}

.boton-suscribite{
    border: none;
    width: 50%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    padding: 10px 14px;
    background-color:black;
    text-transform: uppercase;
}

.boton-suscribite:hover{
    font-weight: bold;
}

.submit-reg-suscribite{
    margin-left: 0
}

@media (min-width: 769px){
    .galeria_home {
        flex-direction: row;
        justify-content: space-evenly;
        margin: 5% 0%;
    }


    .art_galeria_home{
        width: 25%;
        padding:20px;
    }

    .intereses_home{
        justify-content: space-evenly;
        
    }

    .galeria_intereses_home{
        display: flex;
        flex-direction: row;
    }

    .art_intereses_home{
        width: 25%;
        padding:0px;
    }

    .boton_intereses_home{
    width: 50%;
    left: 25%;

    }
    
    .favorits {
        display: block;
    }

    .login {
        display: block;
    }

    .botones-footer {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    /*header*/

    .arriba-header {
        margin-bottom: 35px;
    }

    .espacio-logo-header {
        text-align: center;
        width: 100%;
        position: relative;
    }

    .menu-hamburguesa {
        display: none;
    }

    .logo {
        width: 250px;
    }

    .nav-header {
        max-width: 100%;
    }

    .der-nav-header li {
        margin: 10px;
    }

    .abajo-nav-header {
    display: flex;
    justify-content: space-around;
    }

    .abajo-nav-header a:hover {
        font-weight: bold;
    }

    .der-nav-header i{
        font-size: 20px;
    }

    .der-nav-header i:hover {
        font-size: 25px;
        transition-duration: 0.2s;
    }

    .nav-header {
        width: 95%;
        position:absolute;
        justify-content: flex-end;
        float: right;
    }

    /*main*/
    .boton_galeria_home, .boton_ppl_home{
        transition-duration: 0.2s;
    }

    .boton_galeria_home:hover, .boton_ppl_home:hover{
        font-weight: bold;
    }

    .boton_intereses_home, .boton_ppl_home{
        transition-duration: 0.2s;
    }

    .boton_intereses_home:hover, .boton_ppl_home:hover{
        font-weight: bold;
    }

    /*footer*/

    .footer-columna1 a {
        text-decoration: none;
        padding: 20px;
        font-size: 13px;
        color: black;
    }

    .footer-columna1{
        text-align: center;
        width: 100%;
        display:flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer-columna1 a:hover {
        text-decoration: underline;
    }

    .footer-columna1 ul {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .form-email-footer {
        width: 30%;
    }
    
    .boton-suscribite{
        width: 30%;
    }
    
}
      






