<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel='stylesheet' href="/css/styles-login.css">
    <title>Login</title>
</head>

<body>
    
    <%- include("../partials/header") %>

    <main>
        <div class="links-login">
            <a href="/" class="link-login">home /</a>
            <a href="/user/login" class="link-register">login</a>
        </div>

        <p class="titulo-login">Login</p>

        <div class="login-form-entero">

            <form class="login-formulario" action="/user/login" method="post">
                <p class="titulo-sec-login">ingresar a mi cuenta</p>

                <div class="seccion-login">
                <label class="titular-login">E-mail</label><br>
                <input type="email" name="emailLogin" placeholder="Por favor ingresá tu e-mail" required class="control-login">
                </div>

                <div class="seccion-login">
                <label class="titular-login">Contraseña</label><br>
                <input type="password" placeholder="Por favor ingresá tu contraseña"  name="clave" required class="control-login">
                </div>

                <div>
                <a href="#" class="recuperar-login">¿Olvidaste tu contraseña?</a>
                </div>
                
                <button type="submit" class="boton-login">ingresar</button>
            </form>
        

            <div class="cliente-nuevo">
                <p class="titulo-sec-login">cliente nuevo</p>
                <p class="texto-crearCuenta">Si todavía no tenés una cuenta de usuario con nosotros, te recomendamos crearla. Esto facilitará el proceso de compra en nuestra web.</p>
                <a href="./register" class="boton-register">registrarme</a>
            </div>

        </div>

        <%- include('../partials/whatsappIcon') %>
        
    </main>

    <%- include("../partials/footer") %>

</body>

</html>