<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>Registro</title>
    <link rel="stylesheet" href="/css/styles-register.css">

</head>

<body>
    <%- include("../partials/header") %>

    <section class="header-sec-register">
        <a href="/" class="link-ahome"><strong>HOME /</strong></a>
        <a href class="link-alogin"><strong>REGISTRARSE</strong></a>
        <h1 class="registrarse"><strong> Registrarse</strong></h1>
    </section>


    <main class="main-register">
        

        <section class="todo-registro">
            <form action="/" method="GET" class="control-formulario">
                
                        <div class="titulo-reg">

                            <label><strong> Título </strong></label><br>
                            <select name="titulo" placeholder="Seleccione" class="control">
                            <option disabled="true" selected="true" value="">Seleccionar</option>
                            <option value="Sr">Sr</option>
                            <option value="Sra">Sra</option>
                            </select>
                        </div>
        
                        <div class="nombre-reg">
                            <label><strong>Nombre</strong></label><br>
                            <input type="text" name="usuario" placeholder="Por favor ingrese su nombre" required
                                class="control">
                        </div>

                        <div class="apellido-reg"><label><strong>Apellido</strong></label><br>
                            <input type="text" name="usuario" placeholder="Por favor ingrese su apellido" required
                                class="control">
                        </div>

                        
                        <div class="nacimiento-reg"><label><strong>Fecha de Nacimiento</strong></label><br>
                            <input type="date" placeholder="fecha de nacimiento" name="fecha de nacimiento"
                                    class="control">
                        </div><br>

                            
                        <div class="localidad-reg"><label><strong> Provincia</strong></label><br>
                            <select id="provincia" class="control">
                                        <option value="1">BUENOS AIRES</option>
                                        <option value="2">CATAMARCA</option>
                                        <option value="5">CHACO</option>
                                        <option value="6">CHUBUT</option>
                                        <option value="50">CIUDAD AUTONOMA DE Bs As</option>
                                        <option value="3">CORDOBA</option>
                                        <option value="4">CORRIENTES</option>
                                        <option value="7">ENTRE RIOS</option>
                                        <option value="8">FORMOSA</option>
                                        <option value="9">JUJUY</option>
                                        <option value="10">LA PAMPA</option>
                                        <option value="11">LA RIOJA</option>
                                        <option value="12">MENDOZA</option>
                                        <option value="13">MISIONES</option>
                                        <option value="14">NEUQUEN</option>
                                        <option value="15">RIO NEGRO</option>
                                        <option value="16">SALTA</option>
                                        <option value="17">SAN LUIS</option>
                                        <option value="19">SANTA CRUZ</option>
                                        <option value="20">SANTA FE</option>
                                        <option value="21">SANTIAGO DEL ESTERO</option>
                                        <option value="22">TIERRA DEL FUEGO</option>
                                        <option disabled="true" selected="true" value="">Seleccionar una Provincia
                                        </option>
                            </select><br>

                                  
                        <div class="email-reg">  
                            <label><strong>E-mail</strong></label><br>
                            <input type="email" name="Email" placeholder="Por favor ingrese su e-mail" required
                                        class="control">

                        </div><br>


                              
                        <div class="password-reg">  
                            <label><strong>Contraseña</strong></label><br>
                            <input type="password" placeholder="Por favor ingrese su Contraseña" required
                                    name="clave" class="control">
                        </div><br>


                
                        <div class="confpass-reg"><label><strong>Confirmar contraseña</strong></label><br>
                            <input type="password" placeholder="Por favor confirme su Contraseña" name="clave" class="control"><br>
                        </div>
          
                        <div class="telefono-reg"><label><strong>Teléfono</strong></label><br>
                            <input type="telefono" placeholder="Por favor ingrese su número de teléfono" name="clave" class="control">
                        </div><br>

                        <div class="submit-reg">
                            <button type="submit" class="boton" color=white background-color=black> CREAR CUENTA </button>
                        </div>
                
            </form>
        </section>
       
        <section class="img-registro">
            <img src="/images/zapato-register.jpg" class="foto">
        </section>

    </main>
    <%- include('../partials/footer') %>

</body>

</html>