<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>Registro</title>
    <link rel="stylesheet" href="/css/styles-register.css">

</head>

<body>
    <%- include("../partials/header") %>

    <h2 class = registrado>Te has registrado con éxito</h2>

    <a href ='/' class = volverRegistrado>Volver al Home</a>

    <a href ='/user/login' class = volverRegistradoLogin>Ir a Login</a>

</main>
<%- include('../partials/footer') %>

<%- include('../partials/whatsappIcon') %>

</body>

</html>
