<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="/css/styles-cart.css">

</head>
<body>

    <%- include("../partials/header") %>

    <main>
        <section class="cabezal-cart">
            <p class="titulo-cart">Tu carrito</p>
            <div class="barra-cart">

                <a class="boton-continuar-cart" href="/">continuar shopping</a>
                    
                <div class="secciones-u-cart">
                    <a href="/cart"><p class="secciones-cart">Carrito  <i class="fa-solid fa-bag-shopping"></i></p></a>
                    <a href="/favorits"><p class="secciones-cart">Favoritos  <i class="fa-solid fa-heart"></i></p></a>
                </div>

                <div >
                    <a class="boton-comprar-cart" href="/user/login">comprar</a>
                </div>
            </div>
        </section>

        <section class="carrito-cart">
            <div class="titulares-cart">
                <div class="titulo-producto-cart">Productos</div>
                <div class="info-precio-cart">Precio</div>
                <div class="info-cantidad-cart">Cantidad</div>
                <div class="info-subtotal-cart">Subtotal</div>
            </div>

            <div class="info-cart">
                <div class="producto-cart">
                    <div class="info-numerador-cart">nº</div>
                    <img class="img-cart" src="/images/zapato1.1.webp" alt="imagen producto">

                    
                        <div class="info-producto-cart">
                            <div id="nombre-producto-cart">NOMBRE DEL PRODUCTO</div>
                            <div id="color-cart"><i class="fa-solid fa-circle"></i>color</div>
                            <div id="talle">Numero</div>
                                <div class="segunda-seccion-desktop-cart">   
                                    <div class="info-precio-cart">$Precio</div>
            
                                        <div class="info-cantidad-cart">
                                            <select id="selector-cart" name="cantidad-art" id="cantidad-art">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
            
                                    <div class="info-subtotal-cart">$Subtotal</div>

                                    <div><button id="info-botoncancelar-cart" type="reset">Cancelar</button></div>
                                </div>   
                        </div>
                     <div class="segunda-seccion-cart">   
                        <div class="info-precio-cart">$Precio</div>

                            <div class="info-cantidad-cart">
                                <select id="selector-cart" name="cantidad-art" id="cantidad-art">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>

                        <div><button id="info-botoncancelar-cart" type="reset">Cancelar</button></div>
                        
                        <div class="info-subtotal-cart">$Subtotal</div>
                      </div>   
                </div>
            </div>
        </section>

        <section class="abajo-cart">
            <div class="infos-general-cart">
                <div class="info-general-cart">
                    <h4>pago seguro</h4>
                    <p>Certificamos el cuidado de tus datos, y así evitamos de este modo que seamos víctimas de fraudes.</p>
                </div>

                <div class="info-general-cart">
                    <h4>envíos</h4>
                    <p>Las entregas se realizan mediante el correo ANDREANI de lunes a viernes, en un rango horario de 9 a 18hs.</p>
                </div>
            </div>

            <div class="tabla-total-cart">
                <div class="datos-abajo-cart">
                    <div class="total-abajo-cart">
                        <p class="info-desktop-cart">Subtotal</p>
                        <p class="info-desktop-cart">$Subtotal</p>
                    </div>

                    <div class="total-abajo-cart">
                        <p class="info-desktop-cart">Envío (tipo de envío)</p>
                        <p class="info-desktop-cart">$precio</p>
                    </div>

                    <div class="total-abajo-cart">
                        <p class="total-cart">Total</p>
                        <p class="total-cart">$total</p>
                    </div>
                </div>
                    
                <a href="/user/login">comprar</a>
                
            </div>

        </section>

        <%- include('../partials/whatsappIcon') %>
        
    </main>

    <%- include('../partials/footer') %>

</body>
</html>