<footer> 
    <div class="arriba-footer">  
        <div class="iconos-footer">
            <a href="https://www.instagram.com/" > <i class="fa-brands fa-instagram"></i><a>
            <a href="https://www.facebook.com/" >  <i class="fa-brands fa-facebook"></i></a>
            <a href= "https://www.twitter.com/"> <i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="suscribite-footer">
            <form action="/" method="GET"></form>
                <label>Suscribite a nuestro Newsletter</label>
                    <input type="email" name="Email" placeholder="Por favor ingresá tu e-mail" class="form-email-footer">
                    <button type="submit" class="boton-suscribite">suscribirme</button>
            </form>
        </div>
    </div>

    <nav class="footer-columna1">
        <ul class="izquierda-footer">
            <li> <a href="#">Cómo comprar</a></li>
            <li><a href="#"> Cambios y/o devoluciones</a></li>
            <li><a href="#"> Términos y condiciones</a></li>
            <li> <a href="#"> Método de envío</a></li>
            <li> <a href="/images/talles.jpg"> Guía de talles</a></li>
            <li><a href="#">Guía de cuidados</a></li>
            <li><a href="#"> Contacto</a></li>
        </ul>
    </nav>
</footer>