<header>
    <p class="anuncio">anuncio</p>

    <div class="principal-header">
        <div class="arriba-header">

            <div class="menu-hamburguesa">
                <i class="fas fa-bars"></i>
            </div>

           <div class="espacio-logo-header">
             <a href= "/"><img class="logo" src="../images/logo.png" alt="logo suola"></a>
            </div>
           
            
                <nav class="nav-header">
                    <ul class="der-nav-header">
                        <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                        <li><a href="../user/login" class="login"><i class="fa-solid fa-user"></i></a></li>
                        <li><a href="/favorites" class="favorits"><i class="fa-solid fa-heart"></i></a></li>
                        <li><a href="/cart"><i class="fa-solid fa-bag-shopping"></i></a></li>
                    </ul>
                </nav>
        </div>

        <nav>
            <ul class="abajo-nav-header">
                <li><a href="#">zapatos</a></li>
                <li><a href="#">mocasines</a></li>
                <li><a href="#">botas</a></li>
                <li><a href="#">sandalias</a></li>
                <li><a href="#">zapatillas</a></li>
            </ul>
        </nav>
    </div>
</header>