<header>
    <p class="anuncio"> Disfruta de pagos en 3 cuotas y envio gratis en compras mayores a $50.000 </p>


    <div class="principal-header">
        <div class="arriba-header">

            <ul class="menu-hamburguesa">
                <li><i class="fas fa-bars"></i>
                    <ul class="dropdown">
                        <li><a href="/#">Buscar</a></li>
                        <li><a href="/products">Ver productos</a></li>
                        <li><a href="/#">Favoritos</a></li>
                    </ul>
                </li>
            </ul>

           <div class="espacio-logo-header">
             <a href= "/"><img class="logo" src="../../images/logo.png" alt="logo suola"></a>
            </div>
           

                <nav class="nav-header">
                    <ul class="der-nav-header">
                        <% if (locals.isLogged) { %>
                        <li><a href="../user/profile" class="logged">Hola, <%= locals.userLogged.name %></a></li>
                        <li><a href="../user/logout" class="login"><i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </a></li>
                        <% } else { %>
                        <li><a href="../user/login" class="login"><i class="fa-solid fa-user"></i></a></li>
                        <% } %>
                        <li><a href="#" class="search"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                        <li><a href="/favorites" class="favorits"><i class="fa-solid fa-heart"></i></a></li>
                        <li><a href="/cart"><i class="fa-solid fa-bag-shopping"></i></a></li>
                    </ul>
                </nav>
        </div>


            <nav>
                <ul class="abajo-nav-header">
                    <li><a href="/products">zapatos</a></li>
                    <li><a href="/products">mocasines</a></li>
                    <li><a href="/products">botas</a></li>
                    <li><a href="/products">sandalias</a></li>
                    <li><a href="/products">zapatillas</a></li>
                    <li><a href="/products">ver todos</a></li>
                </ul>
            </nav>


        
     
    </div>