<section class="intereses_home">
    <p class="titulo_intereses_home">TE PUEDE INTERESAR</p>

    <div class="galeria_intereses_home">
        <article class="art_intereses_home">
            <img class="imagen_intereses_home" src="../images/sandalias1.jpg" alt="">
            <a href='/producto' class="boton_intereses_home">FRESCURA</a>
        </article>

        <article class="art_intereses_home">
            <img class="imagen_intereses_home" src="../images/chatitas1.jpg" alt="">
            <a href=# class="boton_intereses_home">CONFORT</a>
        </article>

        <article class="art_intereses_home">
            <img class="imagen_intereses_home" src="../images/botas1.jpg" alt="">
            <a href=# class="boton_intereses_home">CALIDEZ</a>
        </article>
    </div>
</section>